#
# Ignore
#

*.swp
.DS_Store
lib/launchd/cleanup/
lib/launchd/launchpad/
lib/mackup/settings/
lib/ssh/keys/*
lib/ssh/known_hosts
user/*
utils/opt/apple/*

#
# Except
#

!lib/ssh/keys/.gitkeep
!lib/ssh/config
!utils/opt/apple/fonts
